<div class="cv-wrapper">
  <div class="cv">
    <div class="header">
      <div class="info">
        <div class="main">
          <h1 class="name">Valerii Drachenko</h1>
          <h2 class="position">Ruby on Rails developer </h2>
        </div>
        <div class="contacts">
          <p class="contacts-item"><i class="far fa-envelope"></i> valeradracenko418@gmail.com</p>
          <p class="contacts-item"><i class="fas fa-phone"></i> +380674573066</p>
          <p class="contacts-item"><i class="fas fa-map-marker-alt"></i> Cherkasy</p>
        </div>
      </div>
      <div class="photo-wrapper">
        <img src="https://simgbb.com/avatar/vC4w5VTDxsRT.jpg" alt="Photo" class="photo">
      </div>
    </div>
    <div class="footer">
      <div class="section">
        <h3 class="section-name">Skills</h3>
        <ul class="section-list">
          <li class="section-list-item section-item">Ruby/RoR</li>
          <li class="section-list-item section-item">SQl</li>
          <li class="section-list-item section-item">Git</li>
          <li class="section-list-item section-item">HTML5</li>
          <li class="section-list-item section-item">CSS3 (scss, sass)</li>
          <li class="section-list-item section-item">JavaScript</li>
        </ul>
      </div>
      <div class="section">
        <h3 class="section-name">Experience</h3>
        <p class="section-item">Internship in Everlabs (from January 2020 – to February 2020)</p>
      </div>
      <div class="section">
        <h3 class="section-name">Education</h3>
        <p class="section-item">Cherkasy State Business-College, Software Engineering (2017 – 2021)</p>
        <p class="section-item">GeekHub (from October 2020 till March 2021)</p>
      </div>
      <div class="section">
        <h3 class="section-name">Languages</h3>
        <p class="section-item">English – upper intermediate, Ukrainian and Russian - native</p>
      </div>
    </div>
  </div>
</div>